*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header
{
    position: fixed;
    width: 100%;
    z-index: 600;
}

.left-nav-s {
    position: fixed;
    top: 8%;
    height: 100%;
	left: -2%;
    background: whitesmoke;
	z-index: -50;
}

.left-nav-s li {
    padding: 25px;
}


.left-nav-s ul{
    list-style: none;
}
.left-nav-s li a{
    text-decoration: none;
    color: #363940;
    font-size: 15px;
    font-weight :500;
}
.left-nav-s li:hover{
    background-color:rgb(226, 226, 226);
    cursor: pointer;
}


.left-nav {
    position:fixed;
    top: 8%;
	left: -1%;
    width: 210px;
    height: 100%;
    background: whitesmoke;
    overflow: auto;
	z-index: -50;
	
}

/*.menubar {
	position: fixed;
	top:2%;
    margin-left: 1%;
    cursor: pointer;
	z-index: 5;
	color: whitesmoke;
	font-size: 35px;
}*/


.left-nav li {
    padding: 12px;
}
.left-nav ul{
    list-style: none;
}
.left-nav li a{
    text-decoration: none;
    color: #363940;
    font-size: 15px;
    font-weight :500;
}
.left-nav li:hover{
    background-color:rgb(226, 226, 226);
    cursor: pointer;
}
nav ul li .space {
    margin-right: 10px;
}

.left-nav .line {
    border-bottom: 0.1px solid grey;
    margin: 15px;
    margin-left: 0;

}
.col-10 {
    position: absolute;
    left: 200px;
    overflow: hidden;
    padding-top: 52px;
    }


@media (max-width:700px) {
	.left-nav {
		display: none;
	}
	.left-nav-s
	{
		display: block;
		margin-right: 0;

	}
	.col-10
	{
		overflow-x: scroll;
    overflow: hidden;
    width: 70%;
    margin-left: -60px;

	}	
}

.col-10 {
    position: absolute;
    left: 200px;
    
    overflow: hidden;
}	
.cardtop
{
    padding-top: 10px;
}
